body
{
	margin:10px;
	font-family:helvetica;
}



.body
{	
	border: 0.5px solid #337ab7;
	padding:15px;
	background:3F9FBA;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

#code
{
	font-size:15px;
}
button
{
	background-color:;
}